body{
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    @include respond-to ("phone") {
        position: relative;
        width: 300px;
        height: 400px;
        display: flex;
        flex-direction: row;
   }
}
    main .menu{
        width: 233px;
        padding: 2rem;
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
        @include respond-to ("phone") {
             position: relative;
             width: 80px;
             height: 345vh;
             position: relative;
        }
    }
    header{
        background-color: $primary-color;
        text-align: center;
        padding-top: 20px;
        @include respond-to ("phone") {
            font-size: 10px;
       }
    }
    .principal{
        border-radius: 120px;
        max-width: 100%;
        border: 2px solid rgb(12, 34, 135);
        height: 4cm;
        width: 4cm;
        margin-left: 25px;
        @include respond-to ("phone") {
            width: 55px;
            height: 55px;
       }
   }
    
    ul {
        padding: 0;
        li{
            list-style: none;
            margin: 2rem;
            font-size: 1.5rem;
            font-style: oblique;
            @include respond-to ("phone") {
                font-size: 2px;
                font-style: oblique;
           }
       }
        }
    
    nav{
        padding-left: 50px;
        @include respond-to ("phone") {
            position: relative;
            width: 200px;
            height: 400px;
       } 
    }
    h1{
        font-size: 1.5rem;
        font-style: italic;
        text-align: center;
        @include respond-to ("phone") {
          font-size: 11px;
          padding-right: 20px;
       }
    }
    p{
        font-size: small;
        @include respond-to ("phone") {
          font-size: 8px;
          padding-right: 30px;
       }
    }
    .droite{
        margin-left: 300px;
        padding-bottom: 10px;
        @include respond-to ("phone") {
            width: 220px;
            height: 100vh;
          margin-left: 0;
          padding: 0;
       }
   }
    .fab{
        font-size: 1rem;
        padding-left: 10px;
        @include respond-to ("phone") {
          font-size: 8px;
       }
        
    }
    label{
        @include respond-to ("phone") {
            font-size: 8px;
         }
    }
    .fas{
        @include respond-to ("phone") {
            font-size: 8px;
         }
    }

    
    
    
    

